/* You can add global styles to this file, and also import other style files */
$feature-flags: (
  grid-columns-16: true,
  field-01: ffffff,
  field-02: ffffff,
);

@import "~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps";
//$carbon--theme: $carbon--theme--g100;
//$carbon--theme: $carbon--theme--g90;
$carbon--theme: $carbon--theme--g90;

//$carbon--theme: $carbon--theme--white;

@import "~carbon-components/scss/globals/scss/styles.scss";
